body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(160, 165, 165);
}
#canvas {
    width: 80%;
    height: 100%;
    background-color: rgb(125, 161, 161);
}
#main_zone {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
}
#uiContainer {
    width: 20%;
    height: 100%;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}