#text_area {
    width: 80%;
    margin: 10px 0;
    max-width: 500px;
    height: 150px;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    border-radius: 8px;
    outline: none;
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    resize: none;
}

#text_area:focus {
    border-color: #007BFF;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

#text_area::placeholder {
    color: #888;
    font-style: italic;
}
