#slider_container {
    width: 100%;
    margin: 10px 0;
    text-align: center;

    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
#sliderValue {
    font-size: 20px;
    color: #000;
    margin-bottom: 10px;
}
#box-minmax {
    width: 80%;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
    color: #000;
    align-self: center;
}
#box-minmax span:first-child {
    margin-left: 10px;
}
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 80%;  /* Giảm chiều ngang xuống 80% */
    height: 8px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
    transition: 0.2s;
    margin: 0 auto; /* Căn giữa */
}

/* Thanh trượt khi rê chuột vào */
input[type="range"]:hover {
    background: #b0e0e6;
}

/* Tùy chỉnh con lăn (thumb) trên Chrome, Safari, Edge */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #fff; /* Màu con lăn */
    border-radius: 50%; /* Làm tròn */
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
}

/* Khi nhấn vào con lăn */
input[type="range"]::-webkit-slider-thumb:active {
    background: #ccc;
    transform: scale(1.2); /* Phóng to nhẹ */
}

